*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("bg.jpg");
    min-height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board{
    background: linear-gradient(rgb(183, 226, 183),rgb(230, 230, 192));
    border: 2px solid darkgreen;
    border-radius: 1%;
    width: 90vmin;
    height: 92vmin;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
}

.head{
    background-color: pink;
}

.snakebody{
    background-color: purple;
}

.food{
    background-color: red;
}